<!DOCTYPE html>  
<html lang="en">
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="{% block meta-desc %}{% endblock %}" />
    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}" />
    <meta http-equiv="expires" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />

    <title>omgmark!{% block title %}{% endblock %}</title>

    {% if settings.DEBUG %}
        <script type="text/javascript" src="/js/jquery-1.4.2.js"></script>
    {% else %}
       <!-- Framework JS via the Google CDN -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script> 
        <!-- Load fonts via Google's CDN -->
        <script type="text/javascript">
          WebFont.load({
            google: {
              families: [ 'Lobster', 'Tangerine', 'Cantarell', 'Droid Serif', 'Yanone Kaffeesatz' ]
            }
          });
        </script>
    {% endif %}


    <!-- Site JS & CSS -->
    <link rel="stylesheet" href="/css/bookmark.css" type="text/css" />
    <link rel="stylesheet" href="/css/pagination.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="{% url home %}img/icons/folder_heart.png" /> 

</head>
<body>

<header>
    <hgroup>
    <h1>omgmark!</h1> 
    </hgroup>
</header>

<!-- nav -->
<nav>
    <ul>
        <li class="bookmarks"><a href="{% url bookmarks %}" id="bookmarks">Bookmarks</a></li>
        <li class="new"><a href="{% url new %}" id="new">New bookmark</a></li>
        <li class="settings"><a href="{% url settings %}" id="settings">Settings</a></li>
        <li class="help"><a href="{% url help %}" id="help">Help</a></li>
        <li class="logout"><a href="{% url logout %}" id="logout">Logout</a></li>
    </ul>
</nav>
<!-- end nav -->

<div id="content">
    <!-- Begin the content block -->
    {% block content %}{% endblock %}
    <!-- End the content block -->
</div>

<footer>
<p>&middot; &copy; 2010, FunkHQ &middot;</p>
</footer>



<!-- Page specific JS goes here -->
{% block pagejs %}{% endblock %}
<!-- Page specific JS ends here -->
</body>
</html>

{% comment %}


{% endcomment %}
